<div>
  <%= flash[:notice] %>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-5 text-center">
      <h4 class="bg-warning"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>
    </div>
  </div>

  <div class="row">
      <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
        <table>
          <tr>
            <td width="160" height="40">会員ID</td>
            <td><%= @customer.id %></td>
          </tr>

          <tr>
            <td width="160" height="40">氏名</td>
            <td><%= f.text_field :last_name %>&nbsp;&nbsp;&nbsp;&nbsp;
                <%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <td width="160" height="40">フリガナ</td>
            <td><%= f.text_field :last_name_kana %>&nbsp;&nbsp;&nbsp;&nbsp;
                <%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
           <td width="160" height="40">郵便番号</td>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <td width="160" height="40">住所</td>
            <td><%= f.text_field :address, :size=>"60" %></td>
          </tr>
          <tr>
            <td width="160" height="40">電話番号</td>
            <td><%= f.text_field :telephone_number %></td>
          </tr>
          <tr>
            <td width="160" height="40">メールアドレス</td>
            <td><%= f.text_field :email %></td>
          </tr>
          <tr>
            <td width="160" height="40">販売ステータス</td>
            <td><%= f.radio_button :is_deleted, false %>有効 &nbsp;
                <%= f.radio_button :is_deleted, true %>退会</td>
          </tr>
          <tr>
            <td width="160" height="80"></td>
            <td><%= f.submit "変更を保存", class:"btn btn-success" %></td>
          </tr>
        </table>
      <% end %>

  </div>
</div>