<div>
  <%= flash[:notice] %>
<div>
<br>
<div class="container">
  <div class="row-12">
    <div class="px-3 mr-auto">
    <div class="col-1"></div>
    <div class="col-3 text-center">
      <h4 class="bg-warning">注文情報入力</h4>
    </div>
      <br>
      <h4>
        <% if @order.errors.any? %>
        <%= @order.errors.count %>errors prohibited this obj from being saved:
      </h4>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>


      <%= form_with model: @order, url: '/orders/confirm', method: :post do |f| %>

          <span style="font-size:21px "><strong>支払方法</strong></span><br>
              <span style="font-size:18px ">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
                <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
                <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%><br>
              </span><br>

          <span style="font-size:21px "><strong>お届け先</strong></span><br>
          <!-- @order でラジオボタンを使って情報を送ります -->
          <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
          <!-- customer テーブルに登録されている住所の場合です -->
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span style="font-size:18px ">
              <%= f.radio_button :address_number, 0 %> <!-- address_number と定義して1～3の番号を check に送ります -->
              <%= f.label :address_number_0, "ご自身の住所" %><br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              〒<%= current_customer.postal_code %> <%= current_customer.address %><br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= current_customer.last_name %><%= current_customer.first_name %>
            </span>
            <br>

          <!-- 登録されたaddressから選んでもらう場合です -->
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span style="font-size:18px ">
              <%= f.radio_button :address_number, 1 %>
              <%= f.label :address_number_1, "登録済み住所から選択" %><br>
               &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
              <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %>
            </span>
            <br>
          <!-- registered として current_customer.address.all で取得した id を送ります。
           ユーザーに表示して選択してもらうのは address です -->
          <!-- 新しい住所を追加する場合です -->
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span style="font-size:18px ">
              <%= f.radio_button :address_number, 2 %>
              <%= f.label :address_number_2, "新しいお届け先" %>
            </span>
            <br>
            <table>
              <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span style="font-size:15px "><%= f.label :postal_code, "郵便番号（ハイフンなし）" %></span></td>
                <td>
                  <span style="font-size:15px "><%= f.text_field :postal_code, placeholder: "0000000" %></span></td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span style="font-size:15px "><%= f.label :address, "住所" %></span></td>
                <td>
                  <span style="font-size:15px "><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %></span></td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span style="font-size:15px "><%= f.label :name, "宛名" %></span></td>
                 <td>
                   <span style="font-size:15px "><%= f.text_field :name, placeholder: "令和道子"  %></span></td>
              </tr>
          </table>
           <!-- 選んでもらったデータを送ります -->
          <div class="text-center">
            <%= f.submit "確認画面へ進む", class:"btn btn-success" %>
          </div>
          <% end %>
      <% end %>

   </div>
  </div>
</div>
